.admin-navbar .nav-item {
    color: #fff !important;
    transition: background 0.3s;
    min-width: 200px;
    text-align: center;
}

/* Hover effect */
.admin-navbar .nav-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 987px) {
    .admin-navbar .nav-item {
        width: 100%;
        text-align: left;
    }
}
